body {
    margin: 0;
    padding: 0;
    background-color: #222;
    overflow:hidden;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#input-container{
    position:absolute;
    padding:5px;
    font-family:'Consolas';
}

.forward{
    color:#fff;
}

.velocity{
    color:#0f0;
}

.acceleration{
    color:#00f;
}

.wander{
    color:#ff0;
}

.stay-in-bounds{
    color:#0ff;
}

.separate{
    color:#f0f;
}

.follow{
    color:#f00;
}

.clear{
    color:#FF3399;
}